HELP.md
loan-service/target
rate-service/target
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/terraform/.terraform.lock.hcl
/terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.21.1/linux_amd64/LICENSE.txt
/address-service/Procfile
/order-service/Procfile
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.21.1/linux_amd64/terraform-provider-azurerm_v4.21.1_x5
